---
layout: minimal
company: Sparkbox
github_name: sparkbox
github_address: https://github.com/sparkbox/apprenticeships
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Apprenticeships by <span>{{ page.company }}</span></title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
 <body>
    <div class="wrapper">
      <header>
        <h1>Sparkbox Apprenticeship</h1>
        <p>A guide to the <span>{{ page.company }}</span> apprenticeship</p>
        <p class="view"><a href={{ page.github_address }}>View the Project on GitHub <small><span>{{ page.github_name }}</span>/apprenticeships</small></a></p>
        <ul>
          <li><a href="https://github.com/{{ page.github_name }}/apprenticeships/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/{{ page.github_name }}/apprenticeships/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/{{ page.github_name }}/apprenticeships">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/{{ page.github_name }}"><span>{{ page.company }}</span></a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
